.colorSelector {
    text-align: center;
}

.inputDiv {
    margin: 25px auto;
    width: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.inputDiv input {
    width: 50px;
    height: 50px;
    border: transparent;
    padding: 0;
    transition: .3s;
}

.inputDiv input:hover {
    box-shadow: 0px 0px 10px black;
}